* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    color: var(--white);
}

:root {
    --red:hsl(7, 99%, 70%);
    --yellow:hsl(51, 100%, 49%);
    --cyan:hsl(167, 40%, 24%);
    --blue:hsl(198, 62%, 26%);
    --darkcyan:hsl(168, 34%, 41%);

    --darkblue:hsl(212, 27%, 19%);
    --verygreyblue:hsl(213, 9%, 39%);
    --darkgreyblue:hsl(232, 10%, 55%);
    --greyblue:hsl(210, 4%, 67%);
    --white:hsl(0, 0%, 100%); 

    --padding: 3rem;
    --headerheight: 50vh;
}
/* General classes*/
.heading {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

/*Header section */
.barlow {
    font-weight: 600;
}

header {
    padding-left: var(--padding);
    padding-right: var(--padding);
    height: var(--headerheight);
    position: relative;
}

img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: var(--headerheight);
    width: 100%
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
}

a {
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    transition: opacity 1s;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

.hero{
    padding-top: 5%;
    text-align: center;
}